<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>