<section class='profile-card'>
    <%= image_tag('profile.jpg', alt:'Profile', width:'100px', height:'100px') %>
    <div>
        <h2>User name</h2>
        <p>Number of posts x</p>
    </div>
</section>

<article class='user-bio'>
    <b>Bio</b>
    <p>
       Rebum duo sed labore et justo sea voluptua sit aliquyam, invidunt sit labore sed vero vero amet tempor. Et ipsum ut amet aliquyam ipsum. Accusam at dolore lorem ea. Nonumy nonumy ea dolores labore stet takimata, et sea et ea sanctus. Voluptua dolor amet ipsum et dolore elitr consetetur justo.
    </p>
</article>

<div class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</div>

<div class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</div>

<div class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</div>

<div class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</div>

<div class='post-preview'>
    <b> post <%='#'%> 1</b>
    <p>
        Consetetur kasd sit diam lorem takimata et elitr twunre ewrihnodq dwqj...
    </p>
    <span>
        Comments: x,
        Likes: y
    </span>
</div>

<button class='see-all-posts'>
 See all Posts
</button>
